@font-face {
  font-family: "Jost";
  src: url(/fonts/Jost/static/Jost-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

:root {
  --primary: #888888;
  --secondaray: #cb354e;
  --text-color: #ffff;
  --btn-bg: #199588;
  --font-size : 20px;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
}
ul,
li {
  list-style: none;
}

/* ============ Top Header ============= */
.top-header {
  min-height: 50px;
  background-color: var(--secondaray);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.top-header > p > a {
  color: var(--text-color);
}
.top-header-items {
  display: flex;
  gap: 20px;
}
.top-header-items > p:nth-child(2) {
  background-color: var(--text-color);
  width: 1px;
}

@media (max-width: 950px) {
  .top-header > p:nth-child(1),
  .top-header-items {
    display: none;
  }
  .top-header {
    justify-content: center;
  }
}

/* =============== Navbar ===========*/
nav {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0px 20px;
  background-color: var(--text-color);
}
nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
nav > ul > li {
  font-size: 18px;
  cursor: pointer;
}
nav > ul > li > span {
  background-color: var(--btn-bg);
  color: var(--text-color);
  font-size: 13px;
  padding: 2px 5px;
  border-radius: 5px;
}
nav > ul > li:nth-child(4) > span {
  background-color: var(--secondaray);
}
nav > ul > li > img {
  width: 15px;
  background-color: aqua;
}
nav > ul > li > i {
font-size: var(--font-size);
}

/* ============ Element Box ============= */
.element-box{
    position: absolute;
    top: 0px;
    right: 100px;
    display: flex;
    background-color:var(--text-color);
    color: var(--primary);
    width:380px;
    padding: 80px 0px 20px 50px;
    font-size: var(--font-size);
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: none;
    transition: display 2s ease;
}
.element-box>ul>li{
    padding-top: 15px;
    cursor: pointer;
}

.nav-element:hover  .element-box{
    display: block;
}
/* ============== Hero Section ============ */
.hero-section {
  background-color: var(--primary);
  width: 100%;
  height: calc(100vh - 156px);
  position: relative;
  z-index: -2;
}

