@font-face {
  font-family: "Jost";
  src: url(/fonts/Jost/static/Jost-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost";
}

:root {
  --primary: #888888;
  --secondaray: #cb354e;
  --text-color: #ffff;
  --btn-bg: #199588;
  --font-size: 15px;
}

.container {
  max-width: 1400px;
  margin: 0px auto;
}
ul,
li {
  list-style: none;
}

/* ============ Top Header ============= */
.top-header {
  min-height: 50px;
  background-color: var(--secondaray);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.top-header > p > a {
  color: var(--text-color);
}
.top-header-items {
  display: flex;
  gap: 20px;
}
.bar {
  background-color: var(--text-color);
  width: 1px;
}

@media (max-width: 1200px) {
  .top-header > p:nth-child(1),
  .top-header-items-desktop {
    display: none;
  }
  .top-header {
    justify-content: center;
  }
}

/* =============== Navbar ===========*/
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--font-size);
  height: 100px;
  background-color: var(--text-color);
  position: sticky;
  top: 0;
}
.logo,
.menu > ul,
.icons > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 0px 20px;
}

.menu img {
  width: 10px;
}

.logo i {
  display: none;
}
.dropdown {
  position: relative;
}
.dropdown-menu {
  position: absolute;
  top: 100%;
  background-color: var(--text-color);
  color: var(--primary);
  width: 300px;
  padding: 80px 0px 20px 50px;
  font-size: var(--font-size);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: none;
  z-index: 999;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

.logo i,
.icons i {
  cursor: pointer;
}

.first-page {
  position: relative;
}
aside {
  display: none;
}
.checkbox {
  display: none;
}
/* ========== Sidebar ============ */
@media (max-width: 1029px) {
  .desktop-menu {
    display: none;
  }
  .logo i {
    display: block;
  }
  aside {
    position: absolute;
    background-color: var(--text-color);
    height: 100vh;
    top: 0;
    z-index: 1;
    width: 80%;
    padding: 100px 0px 0px 40px;
    position: fixed;
    overflow-y: scroll;
  }
  .menu > ul {
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
  }
  .top-header-items {
    flex-direction: column;
    padding-top: 20px;
  }
  .aside-border {
    width: 100%;
    background-color: red;
  }

  #toggle-btn:checked ~ aside {
    display: block;
  }
  .dropdown:hover .dropdown-menu {
    display: none;
  }
  .dropdown-menu {
    display: block;
    padding: 0px;
  }
  .mobile-drop {
    display: none;
  }
  #element-dropdown:checked ~ .mobile-drop {
    display: block;
  }
}

/* =============== Hero Section =============== */
#carouselExampleIndicators {
  z-index: -1;
}
.carousel-item {
  position: relative;
}
.carousel-text {
  position: absolute;
  max-width: 400px;
  /* width: 200px; */
  top: 50%;
  left: 30%;
  transform: translate(-30%, -50%);
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-image: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black;
  color: white;
}

@media (max-width: 750px) {
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    display: none;
  }
  .carousel-indicators [data-bs-target] {
    background-color: black;
    border-radius: 50%;
    height: 10px;
    width: 10px;
  }
  .active {
    background-color: var(--secondaray) !important;
  }
  .carousel-text {
    max-width: 200px;
    top: 50%;
    left: 10%;
    transform: translate(-10%, -50%);
  }
  .carousel-text > h1 {
    font-size: 18px;
  }
  .carousel-text > p {
    font-size: 10px;
  }
}

@media (max-width: 450px) {
  .carousel-text {
    max-width: 150px;
  }
  .carousel-text > h1 {
    font-size: 10px;
  }
  .carousel-text > p {
    font-size: 10px;
  }
}
